<!DOCTYPE html>
<html lang="en">
<head>
    <title>Canteen Management</title>
    <link rel="stylesheet" href="/CSS/styles.css">
</head>
<body>
    <%- include('Partials/header') %>
    <h1>Select Table</h1>
    <div id="tables"></div>
    <button onclick="location.href='/order'">Order Now</button>
    <script src="/JS/script.js"></script>
    <%- include('Partials/footer') %>
</body>
</html>
